//  Variables


// colors

$main-color: rgb(33,150,243);
$secondary-color: rgb(64,196,255);

$text-color:rgba(0,0,0,.72);
$text-color-light:rgba(0,0,0,.64);
$text-color-dark:rgba(0,0,0,.90);

// media sizes

$small : 420px;
$medium: 775px;