header{
	background: $main-color;
	width: 100%;
}
header h3{
	margin: 0;
}
.header-image__big{
	margin:  0 1em; 
}
.header-heading{
	color: $text-white;
	margin: 0 0 0 1em;
}

.mdl-layout__tab-bar{
	width: 100%;
	height: 4em;
	padding: 0;
}