$main-color: #ea2f2b;
$main-65: rgba(199,21,41,0.65);
$secondary-color: orange;

$footer-color: #e5e5e5;

// background colors for the home page boxes.
$box1: #ea2f2b;
$box2: #e53c2a;
$box3: #e0492a;
$box4: #cc7f2a;

$text-white: #fff;
$footer-text: #000;

$shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


// media sizes

$small : 400px;